<template>
    <div class='card-container'>
                <div class='card'>
                    <div class="image">
                        <img :src='cardElement.image' alt="chunli" />
                    </div>
                      <div>
                        <span class="header">Total: {{tmptotal}}</span>
                    </div>
                    <div>
                       <span class='header'>Card UID: </span> {{cardElement.id}}
                    </div>
                    <div>
                      <span class='header'>Name: </span> {{cardElement.name}}
                    </div>
                    <div>
                      <span class='header'>Count: </span>  {{cardElement.count}}
                    </div>
                    <div>
                         <span class='header'>Cost: </span>{{cardElement.price}}
                    </div>
                    <div>
                     <span class='header'>Desc: </span>{{cardElement.description}}
                    </div>
                </div> 
                <button @click="addCard(cardElement)">+</button>
                <button @click="removeCard(cardElement)" :disabled='cardElement.count == 0? "disabled": null'>-</button>
    </div>
</template>

<script>
export default {
  props: ["cardElement"],
  data() {
    return {
      isDisabled: null
    };
  },
  methods: {
    addCard(ele) {
      this.cardElement.count = this.cardElement.count + 1;
      return this.cardElement.count;
    },
    removeCard(ele) {
      this.cardElement.count = this.cardElement.count - 1;
      return this.cardElement.count;
    }
  },
  computed: {
    tmptotal() {
      return this.cardElement.count * this.cardElement.price;
    }
  },
  watch: {
    isDisabled() {
      this.isDisabled = this.cardElement.count == 0 ? "disabled" : null;
    }
  }
};
</script>

<style  scoped>
* {
  text-align: left;
  position: relative;
  color: gray;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100px;
  height: 100px;
}

.total_cost {
  width: 49%;
}

.image {
  width: 49%;
}

.card button {
  text-align: center;
  width: 49%;
}

.card-minus_product {
}

.card-add_product {
}

span.header {
  color: black;
  font-weight: bold;
}
</style>

