<template>
    <div class='container'>
        <div class='card' v-for="(ele, index) in cards" :key="index">
            <bca-card 
            :cardElement='ele'>
            </bca-card>
            </div>
    </div>
</template>

<script>
//Import components
import Card from "./Card/Card.vue";

export default {
  components: {
    "bca-card": Card
  },
  data: function() {
    return {
      cards: [
        {
          id: 1,
          image:
            "https://vignette.wikia.nocookie.net/streetfighter/images/e/e3/Chunrender.png/revision/latest?cb=20170728163823",
          name: "WalMart",
          count: 0,
          price: 5.99,
          description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit.Fusce ut fringilla massa, eget luctus neque. Nulla leo odio, aliquam sed elit a, tincidunt commodo sem."
        },
        {
          id: 2,
          image:
            "https://vignette.wikia.nocookie.net/streetfighter/images/e/e3/Chunrender.png/revision/latest?cb=20170728163823",
          name: "Target",
          count: 1,
          price: 2.59,
          description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit.Fusce ut fringilla massa, eget luctus neque. Nulla leo odio, aliquam sed elit a, tincidunt commodo sem."
        },
        {
          id: 3,
          image:
            "https://vignette.wikia.nocookie.net/streetfighter/images/e/e3/Chunrender.png/revision/latest?cb=20170728163823",
          name: "BestBuy",
          count: 3,
          price: 11.49,
          description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit.Fusce ut fringilla massa, eget luctus neque. Nulla leo odio, aliquam sed elit a, tincidunt commodo sem."
        },
        {
          id: 4,
          image:
            "https://vignette.wikia.nocookie.net/streetfighter/images/e/e3/Chunrender.png/revision/latest?cb=20170728163823",
          name: "Bed Bath and Beyond",
          count: 2,
          price: 3.13,
          description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit.Fusce ut fringilla massa, eget luctus neque. Nulla leo odio, aliquam sed elit a, tincidunt commodo sem."
        },
        {
          id: 5,
          image:
            "https://vignette.wikia.nocookie.net/streetfighter/images/e/e3/Chunrender.png/revision/latest?cb=20170728163823",
          name: "Gamestop",
          count: 5,
          price: 7.00,
          description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit.Fusce ut fringilla massa, eget luctus neque. Nulla leo odio, aliquam sed elit a, tincidunt commodo sem."
        },
        {
          id: 6,
          image:
            "https://vignette.wikia.nocookie.net/streetfighter/images/e/e3/Chunrender.png/revision/latest?cb=20170728163823",
          name: "Kohls",
          count: 2,
          price: .25,
          description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit.Fusce ut fringilla massa, eget luctus neque. Nulla leo odio, aliquam sed elit a, tincidunt commodo sem."
        }
      ]
    };
  }
};
</script>

<style scoped>
* {
  position: relative;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.container {
  width: 80%;
}

.card {
  width: 25%;
  margin-left: auto;
  margin: 5px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 15px;
  background-color: powderblue;
}
</style>
